img{
    margin: 10px;
}

div{
    border: solid 2px black;
}

.image1{
    position: absolute;
    top:400px;
} */

.image2{
    position: absolute;
    top: 300px;
}

.image3{
    position: sticky;
    top: 100px;
}

.image4{
    position: fixed;
}

.container{
    position:relative;
    height:2000px;
    background-color: beige;
}

.box{
    background-color: peru;
    height: 2000px;
}