* {
  margin: 0px;
  padding: 0px;
}

/* .box{
    border: 2px solid red;
    width: 27%;
} */

.parent {
  border: 1px solid blue;
  background-color: red;
  width: 50%;
}

.child {
  border: 1px solid seagreen;
  background-color: aqua;
  width: 50%;
}

.container {
  background-color: beige;
  border: 2px solid seagreen;
  height: 100vh;
  width: 50vw;
}

.old {
    font-size: 10px;
}

.new{
    /* 10*10 */
    font-size: 10em;
}